# Import Packages

In [2]:
import pandas as pd

# Load Files

In [4]:
pd.read_csv('Transporte_Publico_Espana.csv', delimiter=',')

,ID_Viaje,Fecha,Ruta,Numero_Pasajeros,Duracion_Viaje_Minutos,Retraso_Minutos,Tipo_Transporte,Region,Dia_Semana
0,1,2023-01-01 00:00:00,Barcelona - Bilbao,NaN,not_available,999,Tranvía,Sevilla,Sunday
1,2,2023-01-01 00:01:00,Malaga - Sevilla,99.0,192.0,58,Tren,Barcelona,Sunday
2,3,2023-01-01 00:02:00,Madrid - Zaragoza,10.0,94.0,119,Autobús,Madrid,Sunday
3,4,2023-01-01 00:03:00,Sevilla - Madrid,96.0,650.0,2,Metro,Malaga,Sunday
4,5,2023-01-01 00:04:00,Madrid - Malaga,22.0,335.0,51,Autobús,Sevilla,Sunday
...,...,...,...,...,...,...,...,...,...
100095,96,2023-01-01 01:35:00,Sevilla - Madrid,85.0,631.0,30,Tren,Valencia,Sunday
100096,97,2023-01-01 01:36:00,Barcelona - Bilbao,65.0,591.0,46,Autobús,Malaga,Sunday
100097,98,2023-01-01 01:37:00,Malaga - Sevilla,65.0,228.0,7,Tranvía,Malaga,Sunday
100098,99,2023-01-01 01:38:00,Madrid - Barcelona,41.0,24.0,27,Metro,Bilbao,Sunday
100099,100,2023-01-01 01:39:00,Madrid - Barcelona,42.0,135.0,46,Tren,Barcelona,Sunday